.post__management-buttons {
  position: absolute;
  display: flex;
  margin: calc(40vh - 25px) 0 0 0;
  right: 5vw;
}

.create__task {
  margin: 0 10px 0 0;
  z-index: 99;
}

.deleteAll__todo-button {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
}

.img__dustbin {
  height: 30px;
  width: 30px;
}