$borderRadiusBlock: 10px;
$backgroundColorAll: rgb(255, 255, 240);
$borderColor: gray;
$mainFontSize: 16px;
$lineHeightDescription: 18px;
$paddingPopup: 15%;
$colorBlackFromDesign-RaisinBlack: rgb(33,28,35);
$colorBlueFromDesign-CyanAzure: rgb(78,125,177);
$colorBrownFromDesign-PaleTaupe: rgb(185,142,123);
$colorBrownFromDesign-CapePalliser: rgb(161,105,78);
$colorBrownFromDesign-Ironstone: rgb(128,71,56);
$colorBrownFromDesign-Cello: rgb(37,49,91);
$colorBlueFromDesign-BlackSea: rgb(38,74,136);
$colorBrownFromDesign-Cowboy: rgb(79,44,42);
$colorBeige: rgb(255, 255, 240);


