.popup__calendar.disable {
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  &.none {
    display: none;
  }
  .popup__calendar-container {
    max-height: 0;
    font-size: 0;
  }
  .calendar__month-year {
    margin: 0;
  }
  .calendar__control-buttons {
    max-height: 0;
    margin: 0;
    & button {
      transition: none;
    }
  }
  .calendar__select {
    margin: 0;
    height: 0;
    & select {
      padding: 0;
    }
  }
  .calendar__contain {
      & th {
        height: 0;
      }
      & td {
        height: 0;
      }
    }
  }
